body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
h1 {
    margin: 0;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background-color: #45a049;
}
.text-center {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
footer p {
    margin: 0;
}
