body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #58b5ff;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}
header nav a {
    color: #000000;
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav ul li {
    display: inline-block; 
    margin: 0 10px;
}
header nav ul li a {
    color: #000000; 
    text-decoration: none; 
    font-weight: bold;
}
header nav ul li a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 16px;
    color: #000000;
    background-color: #58b5ff;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background-color: #4574a0;
}
.text-center {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
main {
    padding: 20px;
}
footer {
    background-color:#58b5ff;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
footer p {
    margin: 0;
}
footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer nav ul li {
    display: inline;
    margin: 0 10px;
}
footer nav ul li a {
    color: #000000;
    text-decoration: none;
}
footer nav ul li a:hover {
    text-decoration: underline;
}
